@charset "UTF-8";

body{
    background-color: rgb(28,67,118) ;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
}

a {
    color: #606060;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}

div#interface {
    width: 950px;
    background-color: white;
    margin: -20px auto 0px auto;
    box-shadow: 0px 0px 10px rgba(29, 28, 28, 0.5);
    padding: 10px;
}

header#cabecalho img#icone {
    position: absolute;
    left: 1210px;
    top: 50px;
    height: 100px
}
header#cabecalho {
    border-bottom: 2px rgb(28,67,118) solid;
    height: 130px;
    background: url("../imagens/logo.png") no-repeat 0px 60px;
}

header#cabecalho h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 30px;
    color: rgb(2, 28, 63);
    text-shadow: 1px 1px 1px rgb(223, 201, 115);
    padding: 0px;
    margin-bottom: 0px ;
}

header#cabecalho h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(231,192,40);
    font-size: 15pt;
    padding: 0px;
    margin-top: 0px;
}

p{
    text-align: justify;
    text-indent: 50px;
}
/*Formatação de imagens com legendas*/

figure.foto-com-legenda {
    position: relative;
    border: white;
    box-shadow: 1px 1px 4px black;
}

figure.foto-com-legenda img{
    width: 100%;
    height: 100%;
}

figure.foto-com-legenda figcaption{
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0,0,0,.4);
    color: white;
    height: 100%;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}

figure.foto-com-legenda:hover figcaption{
    opacity: 1;
}

/*Formatação do menu*/

nav#menu {
    display: block;
}

nav#menu ul{
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 700px;
}
nav#menu li{
    display: inline-block;
    background-color: rgba(0,0,0,.4);
    padding: 10px;
    margin: 2px;
    transition: background-color 1s;
}

nav#menu li:hover{
    background-color: #606060;
}

nav#menu h1{
    display: none;
}

nav#menu a{
    color: black;
    text-decoration: none ;
}

nav#menu a:hover {
    color: #ffffff;
    text-decoration: underline;
}

section#corpo{
    display: block;
    width: 520px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}

header#cabecalho-artigo h1{
    font-size: 20pt;
    color: #ffffff;
    margin-bottom: 0px;
    text-align: center;
}

header#cabecalho-artigo h2{
    font-size: 13pt;
    color: #cecece;
    margin-bottom: 0px;
}

header#cabecalho-artigo h3{
    font-size: 12px;
    color: #606060;
}

article#noticia h2{
    font-size: 12pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 0px;
    margin: 10px 0px 10px 0px;
}

.dir{
    text-align: right;
}

table#tabela{
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto;
}

table#tabela td{
    border: 1px solid #606060;
    padding: 10px;
    text-align: left;
}

table#tabela td.direita{
    background-color: #cecece;
    font-weight: bold;
}

table#tabela td.esquerda{
    color: #ffffff;
    background-color: #606060;
}

aside#lateral{
    display: block;
    width: 350px;
    float: right;
    background-color: #606060;
    padding: 27px;
    margin-top: 0px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

aside#lateral h1{
    font-size: 20pt;
    color: #dddddd;
    margin-top: 0px;
}

aside#lateral h2{
    font-size: 12pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 0px;
    margin: 10px 0px 10px 0px;
}

aside#lateral h3{
    font-size: 12px;
    color: #606060;
}

img#ash{
    width: 15%;
    height: 15%;
}
img#brock{
    width: 17%;
    height: 17%;
}
img#misty{
    width: 15%;
    height: 15%;
}
img#may{
    width: 18%;
    height: 18%;
}
img#max{
    width: 16%;
    height: 16%;
}
img#rocket{
    width: 25%;
    height: 25%;
}
footer#rodape{
    clear: both;
    border-top: 1px solid #606060;
}
div.box {
    width: 700px;
    display: inline-block;
}
footer#rodape p {
    text-align: center;
}